:root {
    /* Colores */
    --color-bg: #FFFFFF;

    --main-orange: #FEA100;
    --main-purple: #332A7B;
    --soft-purple: #9183FF;
    --color-text: #404040;
    --navbar-gradient: linear-gradient(180deg, #332A7B 31%, #5D4DE1 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: var(--font-primary), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  min-height: 100vh;
}