.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-purple);
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  border: 1px solid #AEC2FB;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s;
  color: var(--color-text);
}

.input::placeholder {
  color: #c9c9c9;
}

.input:focus {
  border-color: var(--main-purple);
}

.inputError {
  border-color: #ff4d4d;
}

.errorMessage {
  font-size: 0.8rem;
  color: #ff4d4d;
  margin-top: 0.25rem;
}
