.formContainer {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
}

.title {
    color: var(--soft-purple);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.buttonWrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.flexButtons {
    display: flex;
    gap: 1rem;
}