.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectContainer {
    position: relative;
    width: 100%;
}

.select {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #AEC2FB;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.2s;
    color: var(--color-text);
    appearance: none;
    background-color: white;
}

.select:focus {
    border-color: var(--main-purple);
}

.selectError {
    border-color: #ff4d4d;
}

.iconWrapper {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    color: var(--main-purple);
}

.errorMessage {
    font-size: 0.8rem;
    color: #ff4d4d;
    margin-top: 0.25rem;
}